* {
  margin:0;
  box-sizing: border-box;
}

section {
  width: 100%; height:100vh; padding:10vh 10vw;
  display: flex; flex-direction: column;
  align-items: center; justify-content: space-around;
  font-size:3vmin;
}

body {
	height: 100vh; overflow: hidden;
}

h1 {
  font-size: 10vmin;
}

.author {
  font-size: 4vmin;
}

div p {
  margin:1em 0;
}


/* Navigation */

nav {
  position:fixed;
  top:2vmin; right:2vmin;
  font-family: Arial, Helvetica, sans-serif;
  z-index:1;
}

nav a {
  display: block; width: 8vmin; height:8vmin; margin-bottom:2vmin;
  background:rgba( 0,0,0,0.5 ); color:#fff;
  border:3px solid #444; border-radius: 50%;
  font-size: 4vmin; text-align:center; line-height:8vmin; text-decoration:none;
  user-select: none;
}

nav .selected { background:rgba( 255,255,255,0.5 ); }


/* A Study In Scarlet - By Sir Arthur Conan Doyle */

#loading {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background: #ccc;
}

.loaded {
	opacity: 0;
	transition: opacity 1s;
	pointer-events: none;
}

#doyle {
  background-image: url( fabric.jpg );
  background-color: #FF0037;
  background-blend-mode: multiply;
  background-size:cover;
  color: #fff;
  font-family: Oxygen, sans-serif;
}

#doyle h1 {
  font-family: Katibeh, cursive;
}

#doyle .author {
  font-family: Katibeh, cursive;
  color: #aaeeff;
}

#doyle div {
  display:flex;
  justify-content:space-around;
  width:100%;
}

#doyle a img {
  width:10vw;
  box-shadow:0 5px 20px #000;
}


/* Pride And Prejudice - By Jane Austen */

#austen {
  background-color: rgba( 33,57,114,1.00 );
  background-image: url( pride-and-prejudice.png );
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center top;
  background-size:cover;
  color: #fff;
  font-family: Playfair Display, serif;
}

#austen h1 {
  font-family: Great Vibes, Monotype Corsiva, cursive;
  font-weight: normal;
}

#austen .author {
  color: rgba( 255,234,128,1.00 );
}


/* The War Of The Worlds - By H. G. Wells*/

#wells {
  background: linear-gradient( rgba( 0,0,0,0.5 ), rgba( 0,0,0,0.5 ) ), url( foliage.jpg );
  background-size: cover;
  color: #fff;
  font-family: 'Arima Madurai', cursive;
  text-shadow: 0 2px 1px #000;
}

#wells h1 {
  font-family: 'Tulpen One', cursive;
  text-transform: uppercase;
  word-spacing: 10px;
  letter-spacing: 5px;
}

#wells .author {
  font-family: 'Arima Madurai', cursive;
  font-weight: bold;
}


/*  Twenty Thousand Leagues Under The Sea - By Jules Verne */

#verne {
  background-image: url( water.jpg ), radial-gradient( circle, rgba( 50,153,211,1.00 ), rgba( 10,60,100,1.00 ) );
  background-blend-mode: overlay, normal;
  background-size: cover;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  text-shadow: 0 1px 3px rgba( 0,0,0,1 );
}

#verne h1 {
  font-family: 'Cinzel Decorative', cursive;
  color: #FFEE99;
  text-shadow: 0 2px 5px rgba( 0,0,0,1 ), 0 2px 5px rgba( 0,0,0,1 );
  font-size:6vmin;
}

#verne .author {
  font-family: 'Roboto Slab', serif;
}

/* Dracula - By Bram Stoker */

#stoker {
  background-color: #770707;
  background-image: radial-gradient( rgba( 0,0,0,0 ), rgba( 0,0,0, 1 ) ), url( vampire.png );
  background-size: auto auto, auto 90%;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: normal, multiply;
  color: #fff;
  font-family: 'Caveat', cursive;
}

#stoker h1 {
  font-family: 'UnifrakturCook', cursive;
}

#stoker .author {
  font-family: 'IM Fell English', serif;
}
