:root  /* Variables go here */
{
  --header-size: 8vh;
  --nav-size: 5vh;
  --primary: #00071f;
  --secondary: #263350;
}

/*Resetti the sphagetti*/
* {
  margin:0;
  box-sizing: border-box;
}

/*https://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome*/
*:focus {
  outline: none;
}

section {
  width: 100%; height:100vh;  
  font-size:3vmin;
  background: #33b3e3;
  
  display: flex; 
  align-items: center;
  align-content: center;
  flex-basis: auto;

  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
	height: 100vh; overflow: hidden;
}

h1 {
  font-size: 10vmin;
}

.author {
  font-size: 4vmin;
}

p{
  padding-bottom: 1vh;
}

/*-------------------Header stuff-------------------*/
#header
{
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: var(--header-size);
  background: #000;
  font-family: 'Oswald', sans-serif;  
  text-transform: uppercase;

  display: flex;
}

.shadow
{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.headbox
{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

/*https://stackoverflow.com/questions/32378953/keep-the-middle-item-centered-when-side-items-have-different-widths*/
.headbox:first-child > span { margin-right: auto; }
.headbox:last-child  > span { margin-left: auto;  }


#header img
{  
  object-fit: contain;
  color: white;  
  margin: 5px;
  filter: blur(100px);
  animation-fill-mode: forwards;
}

.img-appear 
{
  animation: unblur 1s; 
}

.img-appear-reverse
{
  animation: unblur 1s reverse; 
}

@keyframes unblur
{
  0%
  {
    filter: blur(100px);
  }

  100%
  {
    filter: blur(0px);
  }

}

#header h1
{
  color: white;  
  font-size: 2vw;  
  text-align: center;
  white-space: nowrap;  
}


/* -----------------------------Navigation---------------------- */
nav {
  position:fixed;
  bottom:0px;
  height: var(--nav-size);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  z-index:1;
  background: #000000;

  display: flex;  
  align-items: center;
  justify-content: center;  
}

nav a {  
  flex-grow: 1;  
  color:#fff;
  font-size: 2vmin; 
  text-align:center;
  text-decoration:none;
  transition: 0.5s;
  z-index:3;
  line-height:7vh; /*man this is a fucking hack*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

nav .selected 
{ 
  transform: translateY(-10px);
  transition: 0.5s;
  background-color: #000925;
  transition: 0.5s;

  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
 }


#loading {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
  animation: loadingBG 5s infinite;
  text-align: center;
}

#loading h1
{
  width: 100%;
  font-family: 'oswald';
  color: white;
  text-transform: uppercase;
}

@keyframes loadingBG
{
  0%
  {
    background: var(--primary);
  }

  50%
  {
    background: var(--secondary);
  }

  100%
  {
    background: var(--primary);
  }
}

.loaded {
	opacity: 0;
	transition: opacity 1s;
	pointer-events: none;
}

/*---------------Intro---------------*/

#intro {  
  background-color: #00071f;  
  background-repeat: repeat;  
  background-size: 200px 200px;
  background-blend-mode: multiply;
  color: #fff;  
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;

  margin-top: var(--header-size);
}

#intro img 
{  
  margin-bottom: calc(var(--nav-size) + 1vh);
}

#intro h3
{
  color: var(--secondary);
}

#intro h3:first-child
{
  margin-top: calc(var(--header-size) + 1vh);
  color: white;
}

#intro h1, h3
{
  text-align: center;
}

#intro div
{
  width: 100%; height: 100%;  
  padding: 10vw;
  padding-top: 0px;
  padding-bottom: 0px;

  display: flex;  
  align-items: center;
  justify-content: space-between;
}

/*-------------------Government-------------------*/

#government {
  background-image: url(Page1.jpg);

  color: #fff;
  font-family: Playfair Display, serif;
}

.eye
{  
  height: 60vh;  
  animation: hover 10s infinite ease-in-out, glow 15s infinite ease-in-out;
}

@keyframes glow
{
  0%
  {
    filter: drop-shadow(0px 0px 10px #ffffff);   
  }

  50%
  {
    filter: drop-shadow(0px 0px 30px #ffffff);   
  }

  100%
  {
    filter: drop-shadow(0px 0px 10px #ffffff);   
  }
}

@keyframes hover
{
  0%
  {
    transform: translateY(-3vh)
  }

  50%
  {
    transform: translateY(3vh)
  }

  100%
  {
    transform: translateY(-3vh)
  }
}


/*-------------------Cause-------------------*/

#cause
{
  background-image: url(Page2.jpg);
}

/*-------------------Censor-------------------*/

#censor
{
  background-image: url(Page3.jpg);
}

/*-------------------Effect-------------------*/

#effect
{
  background-image: url(Page4.jpg);
}

.rel
{
  position: relative;
}

.absImg
{
  position: absolute;
}

.frog
{
  animation: froggydance linear 1 0.8s;
  transform-origin: 50% 50%;
  height: 11vw;
}

.frogytoo
{
  animation: froggydanceReversed linear 1 0.8s;
}

.speaker
{
  height: 20vw;
}

.light
{
  height: 15vw;
}

.flexEnd
{
  align-items: flex-end;
}

.flexStart
{
  align-items: flex-start;
}

.flexCenter
{
  justify-content: center;
  align-content: center;
}

.onehundo
{
  height: 100%;
}

.doof
{
  animation: doofdoof 0.2s 1;
}

@keyframes doofdoof
{
  0%
  {
    transform: scaleX(1)
    scaleY(1);
  }

  50%
  {
    transform: scaleX(1.2)
    scaleY(1.2);
  }

  100%
  {
    transform: scaleX(1)
    scaleY(1);
  }
}

.reverse
{
  transform: scaleX(-1) !important;
}

.reversedoof
{
  animation: doofdoofReverse 0.2s 1;
}

@keyframes doofdoofReverse
{
  0%
  {
    transform: scaleX(-1)
    scaleY(1);
  }

  50%
  {
    transform: scaleX(-1.2)
    scaleY(1.2);
  }

  100%
  {
    transform: scaleX(-1)
    scaleY(1);
  }
}

/*Generated with css animate*/
@keyframes froggydance{
  0% {
    transform:  translate(0px,0px)  scaleY(1.00) ;
  }
  6% {
    transform:  translate(0px,15px)  scaleY(0.72) ;
  }
  12% {
    transform:  translate(0px,1px)  scaleY(1) ;
  }
  29% {
    transform:  translate(0px,-37px)  scaleY(1.06) ;
  }
  50% {
    transform:  translate(0px,-84px)  scaleY(0.91) ;
  }
  55% {
    transform:  translate(0px,-90px)  scaleY(0.94) ;
  }
  59% {
    transform:  translate(0px,-89px)  scaleY(0.97) ;
  }
  77% {
    transform:  translate(0px,-33px)  scaleY(1.09) ;
  }
  88% {
    transform:  translate(0px,2px)  scaleY(0.93) ;
  }
  94% {
    transform:  translate(0px,15px)  scaleY(0.84) ;
  }
  100% {
    transform:  translate(0px,1px)  scaleY(1.00) ;
  }
}

/*Generates with css animate*/
@keyframes froggydanceReversed{
  0% {
    transform:  translate(0px,0px)  scaleY(1.00) scaleX(-1) ;
  }
  6% {
    transform:  translate(0px,15px)  scaleY(0.72) scaleX(-1);
  }
  12% {
    transform:  translate(0px,1px)  scaleY(1) scaleX(-1);
  }
  29% {
    transform:  translate(0px,-37px)  scaleY(1.06) scaleX(-1);
  }
  50% {
    transform:  translate(0px,-84px)  scaleY(0.91) scaleX(-1);
  }
  55% {
    transform:  translate(0px,-90px)  scaleY(0.94) scaleX(-1);
  }
  59% {
    transform:  translate(0px,-89px)  scaleY(0.97) scaleX(-1);
  }
  77% {
    transform:  translate(0px,-33px)  scaleY(1.09) scaleX(-1);
  }
  88% {
    transform:  translate(0px,2px)  scaleY(0.93) scaleX(-1) ;
  }
  94% {
    transform:  translate(0px,15px)  scaleY(0.84) scaleX(-1);
  }
  100% {
    transform:  translate(0px,1px)  scaleY(1.00) scaleX(-1);
  }
}


/*--------------------Woke-------------------*/

#woke {  
  background-color: var(--primary);  
  background-repeat: repeat;  
  background-size: 200px 200px;
  background-blend-mode: multiply;
  color: #fff;  
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;  
}

#woke h1 
{
  text-align: center;
}

#woke div
{
  display: flex;
  align-content: space-around;
  align-items: center;

  padding: 3vw;
  height: 100%;
  margin-bottom: var(--nav-size);
}

#woke h1
{
  margin-top: var(--header-size);
  flex: 1;
}

#shrink
{
  margin: 0vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

#woke img
{
  padding: 2vw;
  flex: 1;
}

.grow-2
{
  flex: 2 1 auto;
}

.grow-1
{
  flex: 1 1 auto;
  padding-right: 0px !important;
}

.margin-nav
{
  margin-bottom: var(--nav-size);
}

.margin-nav-2
{
  margin-bottom: calc(var(--nav-size) * 2);
}

.margin-header
{
  margin-top: var(--header-size);
}

#woke form
{
  width: 100%;
}

#woke textarea
{
  flex: 1;
  border: 5px solid var(--secondary);
  color: var(--secondary);
  background: var(--primary);
  font-size: 30px;
  text-align: left;
  padding: 2vmin;
  resize: none;
  transition: .5s;
  font-family: 'Oswald';
  font-weight: 200;
  border-radius: 10px;
  width: 100%;
  transition: 1s;
}

#woke textarea:focus
{    
  border: 5px solid #bebebe;
  color: #bebebe;
}

#woke input
{
  float: right;
  padding: 5px 20px;
  border-radius: 10px;
  background: var(--primary);
  border: solid var(--secondary);
  color: var(--secondary);
  font-size: 3vmin;
  font-family: 'oswald';
  margin: 10px;
  margin-right: 0;
  transition: .5s;
}

#woke input:hover
{
  color: #bebebe;
  border: solid #bebebe;
}

.noflex
{
  display: block !important;
  padding: 0px !important; 
}

#woke h1
{
  font-size: 8vmin;
  padding-bottom: 3vmin;
}

.credits img
{
  width: 25vmin;
  height: 25vmin;
  object-fit: cover;
  padding: 0px !important;
  margin: 2vmin;  
  border-radius: 50%;
  border: 5px solid var(--secondary);
}

.creditsContainer
{
  float: 1;
}

#oil
{
  width: 30vw;
  object-fit: contain; 
}

/*--------------------Content----------------*/
.textContainer
{
  background: rgba( 0,0,0,0.5 );
  height:100%;

  flex: 1;

  display: flex;
  align-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.textContent
{
  padding: 50px;  
  color: white;
}

.textContent h2
{
  padding-bottom: 20px;
  font-size: 2vw;
  font-family: 'Oswald', sans-serif;  
  text-transform: uppercase;
}

.textContent p
{  
  font-size: 1vw;
  font-family: 'Oswald', sans-serif;  
  font-weight: 300;
  
}

.singleImage
{
  flex: 2.5;
  display: flex;  
}

.singleImage img
{
  flex: 1;
  object-fit: contain;
}

.singleImage iframe
{
  flex: 1;
  margin: 13vw;
  height: 50vh;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.flexOnTheHaters
{
  display: flex;
}

.column
{
  flex-direction: column;
  
}

/*----------------------------Siema stuff--------------------------------*/
.siema
{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  width: 50vw;  
  margin-top: 6vw;
  margin-bottom: 2vw;
  border-radius: 5px;

  background-blend-mode: darken;
  transition: 1s;
  
  background-image: url("1.jpg");
}

.siema img
{
  position: relative;
  width: 0%;
}

.siema div 
{
  height: 100%; width: 100%;
  display: flex;  
  align-items: center;
  justify-content: center;  
  object-fit: contain;
}

.siema div img
{
  object-fit: contain;
  height: 100%; width: 100%;
}

.siema div p
{
  color: white;
}

.column .textContainer
{
  margin-bottom: var(--nav-size);
}

.column .textContainer .textContent
{
  padding-left: 20vw;
  padding-right: 20vw;
}

.pointer
{
  position: relative;
  height: 0%;
  font-size: 3vw;
  top: -10vh;
  left: -3vw;
  animation: touchy 8s infinite; 
}

@keyframes touchy
{
  0%
  {
    transform: translateX(15vw) 
    scale(1.2)
    rotate(-85deg)
    ;
  }
  9%
  {
    transform: translateX(15vw) 
    scale(1)
    rotate(-80deg)
    ;
  }
  10%
  {
    transform: translateX(15vw) 
    scale(1)
    rotate(-80deg)
    ;
  }
  50%
  {
    transform: translateX(-15vw)  
    translateY(1vw)
    rotate(-110deg)
    ;
  }  
  60%
  {
    transform: translateX(-15vw)  
    translateY(1vw)
    rotate(-100deg)
    scale(1.2)
    ;
  } 
  100%
  {
    transform: translateX(15vw) 
    scale(1.2)
    rotate(-85deg)
    ;
  } 
}

/*Fade out for siema hand*/
.fade
{
  animation: touchy 8s infinite, fade 2s;
  color: rgba( 0,0,0, 0 )
}

@keyframes fade
{
  0% {color: rgba( 0,0,0, 1 )}
  100% {color: rgba( 0,0,0, 0 )}
}